/*-------------------------------------------------------------------------------------

 # CATÉGORIES
 
 -------------------------------------------------------------------------------------*/

#categories {
  display: flex;
  justify-content: center;
  align-items: center;
}

#categories a {
  text-decoration: none;
  list-style: none;
  color: var(--white);
  font-family: var(--title);
  letter-spacing: 3px;
}

.category {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

.file {
  display: flex;
  width: 30vw;
  height: 35vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: transform 1s, box-shadow 0.5s;
}

.file:hover {
  transform: scale(1.1);
  box-shadow: var(--black) 0px 15px 10px;
}

#ill {
  background-image: url(./medias/images/illustration/flood.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#anim {
  background-image: url(./medias/images/studio.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#esp {
  background-image: url(./medias/images/tunnel_01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#son {
  background-image: url(./medias/images/sonore.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 425px) {
  .category {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  #categories {
    overflow-x: hidden;
    overflow-y: visible;
    height: 50%;
    margin-top: 50px;
  }

  .file {
    width: 95vw;
    height: 35vh;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .category {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  #categories {
    overflow-x: hidden;
    overflow-y: visible;
    height: 100%;
    margin-top: 150px;
  }

  .file {
    width: 95vw;
    height: 35vh;
  }
}

/*-------------------------------------------------------------------------------------

 # ILLUSTRATIONS & DESIGN
 
 -------------------------------------------------------------------------------------*/

#gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

#gallery h2 {
  text-align: center;
}

#gallery h4 {
  position: relative;
  align-self: center;
}

#gallery h4 a {
  text-decoration: none;
  color: var(--white);
  list-style: none;
  transition: color 1s;
}

#gallery h4 a:hover {
  color: var(--gold);
}

.illustration {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  align-items: center;
  height: 120vh;
}

.dessins {
  width: 100%;
  height: 30vh;
  transition: transform 0.5s, box-shadow 1s;
  animation-name: animDessin;
  animation-duration: 1s;
  animation-fill-mode: initial;
  animation-timing-function: ease;
  animation-play-state: running;
}

.dessins:hover {
  transform: scale(1.1);
  box-shadow: var(--black) 0px 15px 10px;
}

.dessins:active {
  transform: scale(1.5);
  box-shadow: var(--black) 0px 15px 10px;
}

@keyframes animDessin {
  from {
    transform: translateY(400vh);
  }

  to {
    transform: translateY(0%);
  }
}

@media (max-width: 425px) {
  .illustration {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    height: 100vh;
  }

  #gallery {
    overflow-y: visible;
    justify-content: center;
    margin-top: 50px;
  }

  .dessins {
    width: 100%;
    height: 30vh;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .illustration {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    height: 110vh;
  }

  #gallery {
    overflow-y: visible;
  }
}

/*-------------------------------------------------------------------------------------

 # ESPACE 3D
 
 -------------------------------------------------------------------------------------*/

#espace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dimension .file {
  width: 30vw;
}

#espace a {
  color: var(--white);
  text-decoration: none;
  font-family: var(--title);
  transition: color 1s;
}

#espace h4 a:hover {
  color: var(--gold);
}

.dimension {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

#d1 {
  background-image: url(./medias/images/heart.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#d2 {
  background-image: url(./medias/images/rendu_finale_01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#d3 {
  background-image: url(./medias/images/horse_2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#d4 {
  background-image: url(./medias/images/vide.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#d5 {
  background-image: url(./medias/images/cliffs.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 425px) {
  .dimension {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .dimension .file {
    width: 95vw;
    height: 35vh;
  }

  #espace {
    overflow-y: visible;
    justify-content: flex-start;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .dimension {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .dimension .file {
    height: 35vh;
    width: 50vw;
  }

  #espace {
    overflow-y: visible;
    justify-content: flex-start;
    margin-top: 50px;
  }
}

/*-------------------------------------------------------------------------------------

 # CONCEPTION SONORE
 
 -------------------------------------------------------------------------------------*/

#audio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.correct {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 50vh;
}

.correct .logo-apps {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 0.2fr);
}

#audio h4 a {
  text-decoration: none;
  color: white;
  transition: color 1s;
}

#audio h4 a:hover {
  color: var(--gold);
}

@media (min-width: 425px) and (max-width: 768px) {
  .logo-apps {
    grid-template-columns: repeat(2, 0.5fr);
  }

  .logo-apps .logiciel {
    width: 40vw;
  }

  p {
    width: 100%;
    font-size: 0.9em;
  }

  #audio {
    overflow-y: visible;
    justify-content: space-between;
    margin-top: 50px;
  }
}

@media (max-width: 425px) {
  .correct .logo-apps {
    grid-template-columns: repeat(2, 0.5fr);
  }

  .correct .logo-apps .logiciel {
    width: 40vw;
  }

  p {
    width: 100%;
    font-size: 0.65em;
  }

  #audio {
    overflow-y: visible;
    justify-content: space-between;
    margin-top: 50px;
  }

  audio {
    width: 80%;
  }
}

/*-------------------------------------------------------------------------------------

 # CONCEPTION VISUEL
 
 -------------------------------------------------------------------------------------*/

#visuel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 250vh;
}

.description {
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
  width: 80%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.preview {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 5px;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.photo {
  background-color: var(--gold);
  width: 80%;
  height: 40vh;
}

.description a {
  position: relative;
  align-self: center;
}

.debut {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.debut p {
  width: 70%;
}

.moodboard {
  width: 90vw;
  height: 30vh;
  position: relative;
}

#eco{
  background-image: url(https://i.ibb.co/7QKbWb8/ambiencetp3.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#below{
  background-image: url(./medias/images/Moodboard.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#eco1 {
  background-image: url(https://camo.githubusercontent.com/1f746efe9d1afa2e93d54cdd68a47028000b6d9bac9b4003a5edfaf86617b841/68747470733a2f2f692e6962622e636f2f4a4339596e34522f63617274652e706e67);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#eco2 {
  background-image: url(./medias/images/Capture\ d’écran\ 2025-08-28\ 105935.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#eco3 {
  background-image: url(https://camo.githubusercontent.com/7205c8950f8e265925bab1462d48fea3e96ff705ac42a5c3166854830578662b/68747470733a2f2f692e6962622e636f2f7139714c584c362f696d6167652e706e67);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#below1 {
  background-image: url(./medias/images/whale.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#below2 {
  background-image: url(./medias/images/plains_gauche.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#below3 {
  background-image: url(./medias/images/cliffs.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#belowPreview{
  background-image: url(./medias/images/city_01.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-vr {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gold);
  width: 50vw;
  height: 50vh;
  transition: transform 1s, box-shadow 0.5s;
}

.aller-prog {
  text-decoration: none;
  color: var(--white);
  font-size: 1.5em;
}

.img-vr:hover {
  transform: scale(1.05);
  box-shadow: var(--black) 0px 15px 10px;
}

#visuel .retour-prog {
  color: var(--white);
  text-decoration: none;
  transition: color 1s;
}

#visuel .retour-prog:hover {
  color: var(--gold);
}

@media (min-width: 425px) and (max-width: 768px) {
  .preview {
    grid-template-columns: repeat(2, 0.5fr);
  }

  #visuel p,
  li {
    font-size: 0.95em;
  }

  .preview .photo {
    height: 30vh;
    width: 50vw;
  }

  .logo-apps {
    width: 50%;
    grid-template-columns: repeat(2, 0.05fr);
    gap: 20px;
    justify-content: center;
  }

  .moodboard {
    width: 100%;
  }

  .debut {
    flex-direction: column;
    width: 100%;
  }

  .logiciel {
    width: 20vw;
  }

  #visuel {
    overflow-y: visible;
    margin-top: 100px;
    justify-content: space-around;
  }

  .img-vr {
    width: 90vw
  }
}


@media (max-width: 425px) {
  .preview {
    grid-template-columns: repeat(1, 0.5fr);
    gap: 5px;
    justify-content: center;
    top: 50px;
  }

  #visuel p,
  li {
    font-size: .95em;
  }

  .preview .photo {
    height: 20vh;
    width: 80vw;
  }

  
  .logiciel {
    width: 20vw;
  }

  .debut {
    flex-direction: column;
    width: 100%;
  }

  .debut p {
   width: 100%;
  }

  .moodboard{
    align-self: center;
  }
  
  .logo-apps {
    width: 50%;
    grid-template-columns: repeat(3, 0.05fr);
    gap: 20px;
    align-self: center;
  }

  .img-vr {
    width: 100vw
  }
  

}