/*-------------------------------------------------------------------------------------

 # PROJET SONORE
 
 -------------------------------------------------------------------------------------*/

#audio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.correct {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 50vh;
}

.correct .logo-apps {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 0.2fr);
}

#audio h4 a {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

#audio h4 a:hover {
  color: var(--gold);
}

@media (min-width: 425px) and (max-width: 768px) {
  .logo-apps {
    grid-template-columns: repeat(2, 0.5fr);
  }

  .logo-apps .logiciel {
    width: 40vw;
  }

  p {
    width: 100%;
    font-size: 0.9em;
  }

  #audio {
    overflow-y: visible;
    justify-content: space-between;
    margin-top: 50px;
  }
}

@media (max-width: 425px) {
  .correct .logo-apps {
    grid-template-columns: repeat(2, 0.5fr);
  }

  .correct .logo-apps .logiciel {
    width: 40vw;
  }

  p {
    width: 100%;
    font-size: 0.65em;
  }

  #audio {
    overflow-y: visible;
    justify-content: space-between;
    margin-top: 50px;
  }

  audio {
    width: 80%;
  }
}

/*-------------------------------------------------------------------------------------

 # PROJET VISUEL
 
 -------------------------------------------------------------------------------------*/

#visuel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 250vh;
}

.description {
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
  width: 80%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.preview {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 5px;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.photo {
  background-color: var(--gold);
  width: 80%;
  height: 40vh;
}

.description a {
  position: relative;
  align-self: center;
}

.debut {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.debut p {
  width: 70%;
}

.moodboard {
  width: 90vw;
  height: 30vh;
  position: relative;
}

.img-vr {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gold);
  width: 50vw;
  height: 50vh;
  transition: transform 1s, box-shadow 0.5s;
}

.aller-prog {
  text-decoration: none;
  color: var(--white);
  font-size: 1.5em;
}

.img-vr:hover {
  transform: scale(1.05);
  box-shadow: var(--black) 0px 15px 10px;
}

#visuel .retour-prog {
  color: var(--white);
  text-decoration: none;
  transition: color 0.5s;
}

#visuel .retour-prog:hover {
  color: var(--gold);
}

@media (min-width: 425px) and (max-width: 768px) {
  .preview {
    grid-template-columns: repeat(2, 0.5fr);
  }

  #visuel p,
  li {
    font-size: 0.95em;
  }

  .preview .photo {
    height: 30vh;
    width: 50vw;
  }

  .logo-apps {
    width: 50%;
    grid-template-columns: repeat(2, 0.05fr);
    gap: 20px;
    justify-content: center;
  }

  .moodboard {
    width: 100%;
  }

  .debut {
    flex-direction: column;
    width: 100%;
  }

  .logiciel {
    width: 20vw;
  }

  #visuel {
    overflow-y: visible;
    margin-top: 100px;
    justify-content: space-around;
  }

  .img-vr {
    width: 90vw
  }
}


@media (max-width: 425px) {
  .preview {
    grid-template-columns: repeat(1, 0.5fr);
    gap: 5px;
    justify-content: center;
    top: 50px;
  }

  #visuel p,
  li {
    font-size: .95em;
  }

  .preview .photo {
    height: 20vh;
    width: 80vw;
  }

  
  .logiciel {
    width: 20vw;
  }

  .debut {
    flex-direction: column;
    width: 100%;
  }

  .debut p {
   width: 100%;
  }

  .moodboard{
    align-self: center;
  }
  
  .logo-apps {
    width: 50%;
    grid-template-columns: repeat(3, 0.05fr);
    gap: 20px;
    align-self: center;
  }

  .img-vr {
    width: 100vw
  }
  

}

/*-------------------------------------------------------------------------------------

 # ÉCO6TÈME
 
 -------------------------------------------------------------------------------------*/

 #eco{
  background-image: url(https://i.ibb.co/7QKbWb8/ambiencetp3.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#eco1 {
  background-image: url(https://camo.githubusercontent.com/1f746efe9d1afa2e93d54cdd68a47028000b6d9bac9b4003a5edfaf86617b841/68747470733a2f2f692e6962622e636f2f4a4339596e34522f63617274652e706e67);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#eco2 {
  background-image: url(./medias/images/Capture\ d’écran\ 2025-08-28\ 105935.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#eco3 {
  background-image: url(https://camo.githubusercontent.com/7205c8950f8e265925bab1462d48fea3e96ff705ac42a5c3166854830578662b/68747470733a2f2f692e6962622e636f2f7139714c584c362f696d6167652e706e67);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*-------------------------------------------------------------------------------------

 # BELOW THE DEPTHS WE LIVE
 
 -------------------------------------------------------------------------------------*/

 #below{
  background-image: url(./medias/images/Moodboard.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#below1 {
  background-image: url(./medias/images/whale.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#below2 {
  background-image: url(./medias/images/plains_gauche.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#below3 {
  background-image: url(./medias/images/cliffs.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#belowPreview{
  background-image: url(./medias/images/city_01.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}