/*-------------------------------------------------------------------------------------# 

FONT_FACE

--------------------------------------------------------------------------------------*/

@font-face {
  font-family: "Roboto";
  src: url("./medias/font/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Akira";
  src: url("./medias/font/Akira.otf") format("opentype");
}

/*-------------------------------------------------------------------------------------

 # ROOT
 
 -------------------------------------------------------------------------------------*/

:root {
  --title: "Akira";
  --text: "Roboto";
  --void: #0000;
  --black: #000;
  --main: #11100e;
  --white: #fcfbff;
  --gold: #da9b2e;
  --gradient: linear-gradient(var(--black), var(--void));
}

/*-------------------------------------------------------------------------------------

 # STYLE GÉNÉRAUX
 
 -------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  cursor: default;
}

body {
  background-color: var(--main);
  color: var(--white);
  font-family: var(--text);
  height: 100%;
  overflow-x: hidden;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100vh;
}

/*-------------------------------------------------------------------------------------

 # BAR DE NAVIGATION
 
 -------------------------------------------------------------------------------------*/

.nav {
  background-image: var(--gradient);
  width: 100%;
  position: fixed;
  display: block;
  top: 0;
  height: 12%;
  display: grid;
  transition: height 1s;
  z-index: 2;
}

.nav:hover {
  height: 20%;
}

.list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  list-style-type: none;
  font-size: 1.3rem;
}

.link {
  transition: color 0.5s;
  color: var(--white);
  text-decoration: none;
  list-style-type: none;
}

.link:hover {
  color: var(--gold);
}

/*-------------------------------------------------------------------------------------

 # HÉRO
 
 -------------------------------------------------------------------------------------*/

h1 {
  font-family: var(--title);
  font-size: 6em;
  position: absolute;
  letter-spacing: 1rem;
  z-index: 3;
}

.hero-gradient {
  background-image: linear-gradient(var(--void), 50%, rgba(202, 104, 0, 0.99));
  width: 100%;
  height: 100vh;
  opacity: 25%;
  position: absolute;
  z-index: 1;
}

.link-adress {
  position: absolute;
  color: var(--white);
  bottom: 0;
  right: 0;
  margin: 0 2.5% 1% 0;
  list-style: none;
  text-decoration: none;
}

/*-------------------------------------------------------------------------------------

 # FOOTER
 
 -------------------------------------------------------------------------------------*/

footer {
  background-image: linear-gradient(var(--void), var(--black));
  position: relative;
  bottom: 0;
  width: 100%;
}

/*-------------------------------------------------------------------------------------

 # CURSOR
 
 -------------------------------------------------------------------------------------*/
.cursor {
  position: absolute;
  mix-blend-mode: difference;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation-duration: 2s;
  animation-name: cursor;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  z-index: 6;
  transition: width 1s, height 1s, border 1s;
}

@keyframes cursor {
  0% {
    opacity: 0.2;
    border-color: rgb(255, 0, 0);
  }

  50% {
    border-color: rgb(255, 166, 0);
  }

  100% {
    border-color: rgb(255, 251, 0);
  }
}

body:has(.nav:hover) .cursor {
  transition: width 1s, height 1s, border 1s;
  width: 50px;
  height: 50px;
  border: 5px solid;
}

body:has(h1:hover) .cursor {
  transition: width 1s, height 1s, border 1s;
  width: 50px;
  height: 50px;
  border: 5px solid;
}
