/*-------------------------------------------------------------------------------------# 

FONT_FACE

--------------------------------------------------------------------------------------*/

@font-face {
  font-family: "Roboto";
  src: url("./medias/font/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Akira";
  src: url("./medias/font/Akira.otf") format("opentype");
}

/*-------------------------------------------------------------------------------------

 # ROOT
 
 -------------------------------------------------------------------------------------*/

:root {
  --title: "Akira";
  --text: "Roboto";
  --void: #0000;
  --black: #000;
  --main: #11100e;
  --white: #fcfbff;
  --gold: #da9b2e;
  --gradient: linear-gradient(var(--black), var(--void));
}

/*-------------------------------------------------------------------------------------

 # STYLE GÉNÉRAUX
 
 -------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  cursor: default;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main);
  color: var(--white);
  font-family: var(--text);
  height: 100%;
  overflow-x: hidden;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border: red 1px solid;
}

h1,
h2,
h3,
h4 {
  font-family: var(--title);
}

p {
  line-height: 1.6;
}

/*-------------------------------------------------------------------------------------

 # BAR DE NAVIGATION
 
 -------------------------------------------------------------------------------------*/

.nav {
  background-image: var(--gradient);
  width: 100%;
  position: fixed;
  display: block;
  top: 0;
  height: 12%;
  display: grid;
  transition: height 1s;
  z-index: 2;
}

.nav:hover {
  height: 20%;
}

.list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  list-style-type: none;
  font-size: 1.3rem;
}

.link {
  transition: color 0.5s;
  color: var(--white);
  text-decoration: none;
  list-style-type: none;
}

.link:hover {
  color: var(--gold);
}

.Burger {
  display: none;
}
.burger {
  width: 30px;
}

.logo {
  display: none;
}

.logo-link {
  color: var(--white);
  list-style: none;
  text-decoration: none;
}

@media (max-width: 425px) {
  .logo {
    display: block;
  }

  .Burger {
    display: block;
  }
  .link {
    display: none;
  }
}

/*-------------------------------------------------------------------------------------

 # HÉRO
 
 -------------------------------------------------------------------------------------*/

h1 {
  font-size: 6em;
  position: absolute;
  letter-spacing: 1rem;
  z-index: 3;
  left: 250px;
}

@media (min-width: 425px) and (max-width: 768px) {
  h1 {
    font-size: 4em;
    left: 50px;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 1.7em;
    letter-spacing: 0.9rem;
    left: 20px;
  }

  .link-adress {
    font-size: 0.8em;
  }
}

.arrow {
  background-image: url(./medias/images/scroll-ui.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  width: 5vw;
  height: 7vh;
  z-index: 2;
}

.hero-gradient {
  background-image: linear-gradient(var(--void), 50%, rgba(202, 104, 0, 0.99));
  width: 100%;
  height: 100vh;
  opacity: 25%;
  position: absolute;
  z-index: 1;
}

.hero-img {
  position: relative;
  background-image: url(./medias/images/horse_2.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.link-adress {
  position: absolute;
  color: var(--white);
  bottom: 0;
  right: 0;
  margin: 0 2.5% 1% 0;
  list-style: none;
  text-decoration: none;
  z-index: 2;
  transition: color 0.5s;
}

.link-adress:hover {
  color: var(--gold);
}

/*-------------------------------------------------------------------------------------

 # PROJETS
 
 -------------------------------------------------------------------------------------*/

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.swiper-wrapper {
  width: 80vw; /*2000px*/
  height: 45vh; /*500px*/
}

.projects h2 {
  font-size: 2em;
  letter-spacing: 1rem;
  color: var(--white);
  align-self: center;
}

#plusProj {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  transition: color 1s;
}

#plusProj:hover {
  color: var(--gold);
}

.carroussel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.square {
  position: relative;
  width: 100%;
  height: 100%;
  transition: width 1s, height 1s;
  overflow: hidden;
  text-decoration: none;
}

.square:hover {
  transition: width 1s, height 1s;
  height: 50vh; /*60vh*/
}

.card h3 {
  letter-spacing: 0.5rem;
  position: absolute;
  top: 20%;
  color: var(--white);
}

.card {
  margin: 6%;
}

.small-desc {
  position: absolute;
  top: 40%;
  color: var(--white);
  margin-right: 30px;
}

.desc {
  background-image: linear-gradient(var(--void), var(--main));
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  transition: height 1s;
}

.square:hover .desc {
  transition: height 1s;
  height: 50%;
}

.art-1 {
  background-image: url(./medias/images/city.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.art-2 {
  background-image: url(./medias/images/sons.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.art-3 {
  background-image: url(./medias/images/rendu_finale_01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.art-4 {
  background-image: url(./medias/images/homme_banal.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.art-5 {
  background-image: url(./medias/images/vr_game.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*-------------------------------------------------------------------------------------

 # À PROPOS
 
 -------------------------------------------------------------------------------------*/

.about {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.portrait {
  position: relative;
  right: 5%;
  width: 30%;
  height: 70vh;
  background-image: url(./medias/images/heart_side_bottom.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.me {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 20%;
  width: 50%;
}

.about-me {
  width: 50%;
}

.me h2 {
  letter-spacing: 0.6rem;
}

.me a {
  width: 8vw;
  font-weight: bold;
}

.logo-apps {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 0.18fr);
  grid-template-rows: repeat(1, 1fr);
}

.logiciel {
  width: 5vw;
  height: 7vh;
}

#l1 {
  background-image: url(./medias/images/maya-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#l2 {
  background-image: url(./medias/images/Reaper-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#l3 {
  background-image: url(./medias/images/Davinci-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#l4 {
  background-image: url(./medias/images/Adobe-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#l5 {
  background-image: url(./medias/images/Max_logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#l6 {
  background-image: url(./medias/images/unity-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 425px) and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
    align-items: flex-start;
  }
  .about-me {
    font-size: 0.8em;
    width: 50%;
  }
  .me {
    margin-top: 70px;
    left: 20%;
    width: 100%;
  }
  .portrait {
    margin-top: 20px;
    width: 110vw;
    height: 50vh;
    background-size: contain;
  }
  .logiciel {
    width: 20vw;
  }

  .me h2 {
    letter-spacing: 1rem;
  }

  .logo-apps {
    left: 5%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 0.1fr);
    gap: 2px;
    justify-content: center;
  }

  .me a {
    width: 100%;
    font-weight: bold;
  }
}

@media (max-width: 425px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
    align-items: flex-start;
  }
  .about-me {
    font-size: 0.9em;
    width: 65%;
  }
  .me {
    margin-top: 70px;
    left: 20%;
    width: 100%;
  }
  .portrait {
    margin-top: 20px;
    width: 110vw;
    height: 50vh;
    background-size: contain;
  }
  .logiciel {
    width: 20vw;
  }

  .me h2 {
    width: 70%;
  }

  .logo-apps {
    left: 5%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 0.1fr);
    gap: 2px;
    justify-content: center;
  }

  .me a {
    width: 100%;
    font-weight: bold;
  }
}
/*-------------------------------------------------------------------------------------

 # FOOTER
 
 -------------------------------------------------------------------------------------*/

footer {
  background-image: linear-gradient(var(--void), var(--black));
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-around;
}

.list-footer {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  font-size: 1.2em;
}

.list-footer h3 {
  text-align: center;
}

hr {
  width: 50vw;
  border: var(--white) 1.5px solid;
}

.copyright {
  font-size: 0.7em;
}

.f {
  list-style: none;
  color: var(--white);
  text-decoration: none;
  transition: color 1s;
}

.f:hover {
  color: var(--gold);
}

@media (min-width: 425px) and (max-width: 768px) {
  .copyright {
    font-size: 0.4em;
  }
}

@media (max-width: 425px) {
  .copyright {
    font-size: 0.4em;
  }
}
